.container{
    padding: 1.5rem;
}

.SliderItem{
    width: 100%;
    height: 300px;
}

.SliderItem img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border: solid;
}

.slick-prev::before {
    color: black !important;
}