.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.container img{
    height: 300px;
    width: 250px;
    border: 8px black;
    border-style: inset;
}

.container p{
    padding: 1.5rem;
    border: 8px black;
    border-style: inset;
}